body{
  background-color: #161616;
  color: white;
  font-family: "Bitstream Vera Sans",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #999;
}
td.color{
  height: 100px;
  width: 200px;
}
ul.color-bar li{
  list-style: none;
  height: 100px;
  width: 19%;
  float: left;
  position: relative;
}
ul.color-bar.mini li{
  height: 20px;
  width: 50px;
  top: 0;
  left: 0;
}
ul.color-bar li.active{
  border: 2px solid white;
  position: relative;
  top: -2px;
}
ul.color-bar li a{
  display: block;
  height: 100px;
  text-decoration: none;
}
ul.color-bar li span.hex{
 position: absolute;
 left: 0;
 top: 0; 
 padding: 4px 6px;
 background-color: #111;
 color: #eee;
 display: none;
}
ul.color-bar li:hover span.hex{
 display: block;
}
ul.color-bar.mini li a{
  height: 20px;
  width: 50px;
}
.clear{
  clear: both;
}
ul#nav{
  float: right;
}
ul#nav li{
  float: left;
  list-style: none;
}
ul#nav li a{
  padding: 6px 10px;
  margin-right: 10px;
  background-color: #333;
}
ul#nav li a:hover {
  background-color: #444;
  color: white;
}
a{
  color: white;
}
a:hover {
  color: #ddd;
}
#header h1{
  float: left;
}
table.colorpicker{
  width: auto;
}

.star-rating,  
.star-rating a:hover,  
.star-rating a:active,  
.star-rating a:focus,  
.star-rating .current-rating{  
    background: url('/images/star_rating.gif') left -1000px repeat-x;  
}  
.star-rating{  
    position: relative;  
    width: 150px;  
    height: 30px;  
    overflow: hidden;  
    list-style: none;  
    margin: 0;  
    padding: 0;  
    background-position: top left;  
}  
.star-rating li{  
    display: inline;  
}  
.star-rating a,  
.star-rating .current-rating{  
    position: absolute;  
    top: 0;  
    left: 0;  
    text-indent: -1000em;  
    height: 30px;  
    line-height: 30px;  
    outline: none;  
    overflow: hidden;  
    border: none;  
}  
.star-rating a:hover,  
.star-rating a:active,  
.star-rating a:focus {   
    background-position: center left;  
}  
.star-rating a.one-stars{  
    width: 20%;  
    z-index: 6;  
}  
.star-rating a.two-stars{  
    width: 40%;  
    z-index: 5;  
}  
.star-rating a.three-stars{  
    width: 60%;  
    z-index: 4;  
}  
.star-rating a.four-stars{  
    width: 80%;  
    z-index: 3;  
}  
.star-rating a.five-stars{  
    width: 100%;  
    z-index: 2;  
}  
.star-rating .current-rating{  
    z-index: 1;  
    background-position: bottom left;  
}  
.star-ratings-block {  
    font-size: .75em;  
    text-align: center;  
    width: 100%;  
}  
